RewriteEngine on
RewriteRule ^post/why-delay-the-vs2012-release-microsoft.aspx$ /why-delay-the-vs2012-release-microsoft.html [R=301,NC]
RewriteRule ^post/survival-of-the-fittest-fluid-teams.aspx$ /survival-of-the-fittest-fluid-teams.html [R=301,NC]
RewriteRule ^post/tfs-and-continuous-deployment.aspx$ /tfs-and-continuous-deployment.html [R=301,NC]
RewriteRule ^post/what-is-your-interpretation-of-burnout.aspx$ /what-is-your-interpretation-of-burnout.html [R=301,NC]
RewriteRule ^post/teamcity-outofmemoryerror.aspx$ /teamcity-outofmemoryerror.html [R=301,NC]
RewriteRule ^post/introducing-teamcity-metro.aspx$ /introducing-teamcity-metro.html [R=301,NC]
RewriteRule ^post/enum-string-value-for-use-with-jquery-mobile.aspx$ /enum-string-value-for-use-with-jquery-mobile.html [R=301,NC]
RewriteRule ^post/you-think-im-doing-it-wrong-so-help-me-do-it-right.aspx$ /you-think-im-doing-it-wrong-so-help-me-do-it-right.html [R=301,NC]
RewriteRule ^post/spoofing-the-host-entry-in-a-httpwebrequest.aspx$ /spoofing-the-host-entry-in-a-httpwebrequest.html [R=301,NC]
RewriteRule ^post/my-approach-to-refactoring-a-monster-switch-statement.aspx$ /my-approach-to-refactoring-a-monster-switch-statement.html [R=301,NC]
RewriteRule ^post/custom-blogging-workflow-with-youtrack.aspx$ /custom-blogging-workflow-with-youtrack.html [R=301,NC]
RewriteRule ^post/agile-teams-and-working-from-home.aspx$ /agile-teams-and-working-from-home.html [R=301,NC]
RewriteRule ^post/teamcitysharp-now-builds-with-mono.aspx$ /teamcitysharp-now-builds-with-mono.html [R=301,NC]
RewriteRule ^post/installing-mono-on-windows.aspx$ /installing-mono-on-windows.html [R=301,NC]
RewriteRule ^post/how-nuget-could-improve.aspx$ /how-nuget-could-improve.html [R=301,NC]
RewriteRule ^post/codemash-2012-truly-awesome.aspx$ /codemash-2012-truly-awesome.html [R=301,NC]
RewriteRule ^post/2011-my-year-in-review.aspx$ /2011-my-year-in-review.html [R=301,NC]
RewriteRule ^post/features-nuget-would-benefit-from.aspx$ /features-nuget-would-benefit-from.html [R=301,NC]
RewriteRule ^post/memory-management-in-net-story-board.aspx$ /memory-management-in-net-story-board.html [R=301,NC]
RewriteRule ^post/teamcitysharp-v02.aspx$ /teamcitysharp-v02.html [R=301,NC]
RewriteRule ^post/teamcity-pricing-model-discussion.aspx$ /teamcity-pricing-model-discussion.html [R=301,NC]
RewriteRule ^post/introducing-teamcitysharp.aspx$ /introducing-teamcitysharp.html [R=301,NC]
RewriteRule ^post/is-implementing-continuous-delivery-the-key-to-success.aspx$ /is-implementing-continuous-delivery-the-key-to-success.html [R=301,NC]
RewriteRule ^post/html5-clean-code-for-front-end-developers.aspx$ /html5-clean-code-for-front-end-developers.html [R=301,NC]
RewriteRule ^post/controlling-iis7-programmatically.aspx$ /controlling-iis7-programmatically.html [R=301,NC]
RewriteRule ^post/automated-w3c-validation-with-teamcity.aspx$ /automated-w3c-validation-with-teamcity.html [R=301,NC]
RewriteRule ^post/is-sql-the-barrier-to-continuous-deployment.aspx$ /is-sql-the-barrier-to-continuous-deployment.html [R=301,NC]
RewriteRule ^post/tfs-vnext-falls-short-of-the-mark.aspx$ /tfs-vnext-falls-short-of-the-mark.html [R=301,NC]
RewriteRule ^post/why-you-shouldnt-feel-nervous-about-givecampuk.aspx$ /why-you-shouldnt-feel-nervous-about-givecampuk.html [R=301,NC]
RewriteRule ^post/strategy-to-make-ci-builds-self-testing.aspx$ /strategy-to-make-ci-builds-self-testing.html [R=301,NC]
RewriteRule ^post/is-it-really-agile.aspx$ /is-it-really-agile.html [R=301,NC]
RewriteRule ^post/implementing-your-first-project-into-a-ci-system.aspx$ /implementing-your-first-project-into-a-ci-system.html [R=301,NC]
RewriteRule ^post/have-orms-introduced-extra-complexity-into-our-codebase.aspx$ /have-orms-introduced-extra-complexity-into-our-codebase.html [R=301,NC]
RewriteRule ^post/win-a-ticket-to-progressivenet-tutorials.aspx$ /win-a-ticket-to-progressivenet-tutorials.html [R=301,NC]
RewriteRule ^post/feature-switching-a-better-way-to-collaborate.aspx$ /feature-switching-a-better-way-to-collaborate.html [R=301,NC]
RewriteRule ^post/choosing-the-correct-ci-tool.aspx$ /choosing-the-correct-ci-tool.html [R=301,NC]
RewriteRule ^post/progressive-dotnet-at-skillsmatter.aspx$ /progressive-dotnet-at-skillsmatter.html [R=301,NC]
RewriteRule ^post/development-key-skills-or-lack-of-them.aspx$ /development-key-skills-or-lack-of-them.html [R=301,NC]
RewriteRule ^post/easy-http-not-just-a-catchy-name.aspx$ /easy-http-not-just-a-catchy-name.html [R=301,NC]
RewriteRule ^post/iis-rewrite-tool-the-pain-of-a-simple-rule-change.aspx$ /iis-rewrite-tool-the-pain-of-a-simple-rule-change.html [R=301,NC]
RewriteRule ^post/considerations-when-choosing-hardware-for-ci.aspx$ /considerations-when-choosing-hardware-for-ci.html [R=301,NC]
RewriteRule ^post/satisfyr-useful-little-addition-to-my-testing.aspx$ /satisfyr-useful-little-addition-to-my-testing.html [R=301,NC]
RewriteRule ^post/mocks-stubs-a-thing-of-the-past.aspx$ /mocks-stubs-a-thing-of-the-past.html [R=301,NC]
RewriteRule ^post/how-to-get-started-with-ci.aspx$ /how-to-get-started-with-ci.html [R=301,NC]
RewriteRule ^post/continuous-delivery-is-not-continuous-deployment.aspx$ /continuous-delivery-is-not-continuous-deployment.html [R=301,NC]
RewriteRule ^post/ingredients-needed-for-an-effective-team.aspx$ /ingredients-needed-for-an-effective-team.html [R=301,NC]
RewriteRule ^post/review-of-ddd-guathon-2.aspx$ /review-of-ddd-guathon-2.html [R=301,NC]
RewriteRule ^post/dont-hate-the-player-hate-the-game.aspx$ /dont-hate-the-player-hate-the-game.html [R=301,NC]
RewriteRule ^post/givecamp-is-coming-to-the-uk!.aspx$ /givecamp-is-coming-to-the-uk!.html [R=301,NC]
RewriteRule ^post/best-recruitment-drive-ever!.aspx$ /best-recruitment-drive-ever!.html [R=301,NC]
RewriteRule ^post/is-webmatrix-a-threat-to-the-professional-developer.aspx$ /is-webmatrix-a-threat-to-the-professional-developer.html [R=301,NC]
RewriteRule ^post/attribute-based-caching-with-postsharp.aspx$ /attribute-based-caching-with-postsharp.html [R=301,NC]
RewriteRule ^post/free-speaker-training-day.aspx$ /free-speaker-training-day.html [R=301,NC]
RewriteRule ^post/ddd-scotland-2011.aspx$ /ddd-scotland-2011.html [R=301,NC]
RewriteRule ^post/sql-ce-4-database-scripting.aspx$ /sql-ce-4-database-scripting.html [R=301,NC]
RewriteRule ^post/ddd-southwest-get-ready-to-register.aspx$ /ddd-southwest-get-ready-to-register.html [R=301,NC]
RewriteRule ^post/using-sql-compare-from-the-command-line.aspx$ /using-sql-compare-from-the-command-line.html [R=301,NC]
RewriteRule ^post/using-add-deployable-dependencies-in-vs2010-sp1.aspx$ /using-add-deployable-dependencies-in-vs2010-sp1.html [R=301,NC]
RewriteRule ^post/iis-rewrite-module-and-mvc3.aspx$ /iis-rewrite-module-and-mvc3.html [R=301,NC]
RewriteRule ^post/extracting-a-sql-server-schema-from-sql-server-ce-file.aspx$ /extracting-a-sql-server-schema-from-sql-server-ce-file.html [R=301,NC]
RewriteRule ^post/teamcity-iis-seo-toolkit.aspx$ /teamcity-iis-seo-toolkit.html [R=301,NC]
RewriteRule ^post/finally-a-visual-studio-extension-sync-tool.aspx$ /finally-a-visual-studio-extension-sync-tool.html [R=301,NC]
RewriteRule ^post/using-razor-to-clean-up-my-scripts-and-styles.aspx$ /using-razor-to-clean-up-my-scripts-and-styles.html [R=301,NC]
RewriteRule ^post/microsoft-release-ie9.aspx$ /microsoft-release-ie9.html [R=301,NC]
RewriteRule ^post/ddd-scotland-e28093-registration-almost-open!.aspx$ /ddd-scotland-e28093-registration-almost-open!.html [R=301,NC]
RewriteRule ^post/how-to-install-teamcity-6x-plugins.aspx$ /how-to-install-teamcity-6x-plugins.html [R=301,NC]
RewriteRule ^post/how-i-disconnect-stop-myself-burning-out.aspx$ /how-i-disconnect-stop-myself-burning-out.html [R=301,NC]
RewriteRule ^post/running-powershell-scripts-from-teamcity.aspx$ /running-powershell-scripts-from-teamcity.html [R=301,NC]
RewriteRule ^post/review-azure-in-action.aspx$ /review-azure-in-action.html [R=301,NC]
RewriteRule ^post/how-to-debug-msbuild-files-in-vs2010.aspx$ /how-to-debug-msbuild-files-in-vs2010.html [R=301,NC]
RewriteRule ^post/postsharp-and-teamcity-integration.aspx$ /postsharp-and-teamcity-integration.html [R=301,NC]
RewriteRule ^post/visual-studio-2010-extension-required.aspx$ /visual-studio-2010-extension-required.html [R=301,NC]
RewriteRule ^post/how-i-enjoyed-ddd9.aspx$ /how-i-enjoyed-ddd9.html [R=301,NC]
RewriteRule ^post/differences-between-specflow-and-cuke4nuke.aspx$ /differences-between-specflow-and-cuke4nuke.html [R=301,NC]
RewriteRule ^post/error-in-android-21.aspx$ /error-in-android-21.html [R=301,NC]
RewriteRule ^post/what-passion-means-to-me.aspx$ /what-passion-means-to-me.html [R=301,NC]
RewriteRule ^post/where-have-all-the-good-developers-gone.aspx$ /where-have-all-the-good-developers-gone.html [R=301,NC]
RewriteRule ^post/the-nightmare-when-i-upgraded-my-mvc2-solution-to-mvc3.aspx$ /the-nightmare-when-i-upgraded-my-mvc2-solution-to-mvc3.html [R=301,NC]
RewriteRule ^post/moving-from-cuke4nuke-to-specflow.aspx$ /moving-from-cuke4nuke-to-specflow.html [R=301,NC]
RewriteRule ^post/review-soa-patterns.aspx$ /review-soa-patterns.html [R=301,NC]
RewriteRule ^post/visual-studio-2010-bug.aspx$ /visual-studio-2010-bug.html [R=301,NC]
RewriteRule ^post/macosx-theme-for-win7-laptop.aspx$ /macosx-theme-for-win7-laptop.html [R=301,NC]
RewriteRule ^post/upgrading-from-teamcity-5x-to-60.aspx$ /upgrading-from-teamcity-5x-to-60.html [R=301,NC]
RewriteRule ^post/why-scrum-doesne28099t-suit-me-but-kanban-does.aspx$ /why-scrum-doesne28099t-suit-me-but-kanban-does.html [R=301,NC]
RewriteRule ^post/review-of-nosql-day-at-dundee-university.aspx$ /review-of-nosql-day-at-dundee-university.html [R=301,NC]
RewriteRule ^post/firebreake28093my-thoughts.aspx$ /firebreake28093my-thoughts.html [R=301,NC]
RewriteRule ^post/review-hello!-silverlight.aspx$ /review-hello!-silverlight.html [R=301,NC]
RewriteRule ^post/getting-started-with-simpledata.aspx$ /getting-started-with-simpledata.html [R=301,NC]
RewriteRule ^post/simpledata-e28093-a-new-wave-of-orm.aspx$ /simpledata-e28093-a-new-wave-of-orm.html [R=301,NC]
RewriteRule ^post/tool-of-the-week-e28093-console-e28093-151010.aspx$ /tool-of-the-week-e28093-console-e28093-151010.html [R=301,NC]
RewriteRule ^post/review-dependency-injection-in-net.aspx$ /review-dependency-injection-in-net.html [R=301,NC]
RewriteRule ^post/tool-of-the-week-e28093-programmers-notepad2-e28093-100910.aspx$ /tool-of-the-week-e28093-programmers-notepad2-e28093-100910.html [R=301,NC]
RewriteRule ^post/review-continuous-integration-in-net.aspx$ /review-continuous-integration-in-net.html [R=301,NC]
RewriteRule ^post/guathon-london-august-2010.aspx$ /guathon-london-august-2010.html [R=301,NC]
RewriteRule ^post/breaking-the-dependency.aspx$ /breaking-the-dependency.html [R=301,NC]
RewriteRule ^post/iis-administration-application.aspx$ /iis-administration-application.html [R=301,NC]
RewriteRule ^post/all-change-please!.aspx$ /all-change-please!.html [R=301,NC]
RewriteRule ^post/my-ddd-south-west-review.aspx$ /my-ddd-south-west-review.html [R=301,NC]
RewriteRule ^post/speed-of-for-loop-vs-for-each-loop.aspx$ /speed-of-for-loop-vs-for-each-loop.html [R=301,NC]
RewriteRule ^post/how-to-create-and-fill-and-ienumerable3cstring3e.aspx$ /how-to-create-and-fill-and-ienumerable3cstring3e.html [R=301,NC]
RewriteRule ^post/differences-between-build-automation-and-continuous-integration.aspx$ /differences-between-build-automation-and-continuous-integration.html [R=301,NC]
RewriteRule ^post/functional-programming-in-net.aspx$ /functional-programming-in-net.html [R=301,NC]
RewriteRule ^post/iphone-40-announcement.aspx$ /iphone-40-announcement.html [R=301,NC]
RewriteRule ^post/what-is-microsoftcshaprdll-in-vs2010-rc.aspx$ /what-is-microsoftcshaprdll-in-vs2010-rc.html [R=301,NC]
RewriteRule ^post/logging-exceptions-via-exceptioneer.aspx$ /logging-exceptions-via-exceptioneer.html [R=301,NC]
RewriteRule ^post/cuke4nuke-intellisense-for-cuke4vs.aspx$ /cuke4nuke-intellisense-for-cuke4vs.html [R=301,NC]
RewriteRule ^post/devevening-orm-showdown-feb-25th.aspx$ /devevening-orm-showdown-feb-25th.html [R=301,NC]
RewriteRule ^post/temp-table-vs-table-variable.aspx$ /temp-table-vs-table-variable.html [R=301,NC]
RewriteRule ^post/strange-error-in-visual-studio-2010.aspx$ /strange-error-in-visual-studio-2010.html [R=301,NC]
RewriteRule ^post/welcome-to-my-new-blog.aspx$ /welcome-to-my-new-blog.html [R=301,NC]
RewriteRule ^post/what-happens-to-watin-tests-when-containers-change.aspx$ /what-happens-to-watin-tests-when-containers-change.html [R=301,NC]
RewriteRule ^post/automated-ui-testing-part-2-installing-cucumber.aspx$ /automated-ui-testing-part-2-installing-cucumber.html [R=301,NC]
RewriteRule ^post/visual-studio-2010-release-candidate.aspx$ /visual-studio-2010-release-candidate.html [R=301,NC]
RewriteRule ^post/automated-ui-testing-part-1-watin.aspx$ /automated-ui-testing-part-1-watin.html [R=301,NC]
RewriteRule ^post/windows-7.aspx$ /windows-7.html [R=301,NC]
RewriteRule ^post/uk-citizenship-test.aspx$ /uk-citizenship-test.html [R=301,NC]
RewriteRule ^post/agile-assessment.aspx$ /agile-assessment.html [R=301,NC]
RewriteRule ^post/webdd-09.aspx$ /webdd-09.html [R=301,NC]
